# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
env/

# =========================
# Django
# =========================
*.log
local_settings.py
settings_local.py
db.sqlite3
*.sqlite3

# Media / static compilados
media/
staticfiles/

# =========================
# Migraciones compiladas
# =========================
*/migrations/__pycache__/

# =========================
# Backups / Dumps
# =========================
*.sql
*.dump
*.backup
*.zip
db/
backups/

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# PythonAnywhere / deploy
# =========================
.python-version
